.content-section {
  background-color: #fff;
}

.overlay {
  background-color: rgb(0 0 0/0.6);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.adress {
  font-style: normal;
  text-decoration: none;
  line-height: 24.3px;
  font-size: 18px;
  justify-self: end;
}

.adress-list {
  list-style-type: none;
}

.adress-text {
  max-width: 239px; /*ревьюер написал не использовать <br>, поэтому написана максимальная шарина, подобранная подгонкой*/
}

.header {
  padding: 92px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-size: 18px;
}

.header-menu {
  justify-self: start;
}

.header-menu-list {
  list-style-type: circle;
  display: flex;
  flex-direction: row;
}

.header-menu-item {
  margin-left: 32px;
}

.header-menu-item-active {
  list-style-type: none;
  text-decoration: none;
  margin-left: 0;
}

.header-logo {
  justify-self: center;
}

.header-logo-image {
  width: 148px;
  height: 105px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.cover-title {
  position: relative;
  z-index: 1;
  display: grid;
  row-gap: 10px;
  margin: 165px 50px 0;

  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.align-text {
  justify-self: start;
}

.align-text-center {
  justify-self: center;
  padding-right: 60px;
}

.align-text-right {
  justify-self: end;
  margin-bottom: 120px;
}

.letter-spaicing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover-description {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
}

.cover-description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  align-self: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 32px;
  margin-left: 78px;
}

.lots {
  padding: 180px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots-heading {
  margin-left: 40px;
  margin-bottom: 27px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots-card-list {
  list-style-type: none;
  display: flex;
  margin-bottom: 30px;
  gap: 25px;
  flex-wrap: wrap;
}

.lots-card-list-item {
  min-height: 450px;
  width: 430px;
  flex-grow: 1;
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  position: relative;
  z-index: 1;

  margin: 50px 40px 0;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-text {
  margin: 0 40px 50px 40px;
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.lots-look-more-link {
  margin-left: 40px;

  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.about {
  padding: 0 50px 180px;
}

.about-column {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  align-items: start;
  justify-items: center;
}

.about-logo {
  grid-column: 1/2;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  width: 240px;
  height: 240px;
  align-self: start;
}

.about-logo-image {
  width: 148px;
  height: 114px;
  margin: 63px 46px;
}

.about-title {
  margin: 100px 0;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-all-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.about-text {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  padding: 0 50px 90px;
  display: flex;
  justify-content: space-between;
}

.footer-menu-list {
  list-style-type: none;
}

.footer-menu-item {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.footer-social-list {
  display: flex;
  gap: 46px;
}

.footer-social-list-item {
  list-style-type: none;
}

.footer-social-icon {
  height: 48px;
  /*в сафари и опере без указания максимальной высоты всё выводится корректно, 
    но в гугле без указания выводятся значки много большего размера*/
}
